


body
{
        
        text-align: center;
        line-height: 100vh;
        margin:0;
       

}


button
{
   
    font-family: cursive;
    font-weight: bold;
    vertical-align: middle;
    color: #00BDFF;
    z-index: 1010px;
    border:transparent;
    background-color: transparent;
    
    
}


/*button.RideCymbal
{
    
    margin-top: -340px;
    margin-left: -50px;
    margin-right: -3%;
    text-align: center;
    width:170px;
    height: 45px;
    border-radius: 50%;
    transform: rotate(7deg);

}
*/

button.FloorTom
{
    margin-right: -70px;
    margin-top: 80px;
    text-align: center;
    width:110px;
    height: 80px;
    margin-left: -100px;

}

.positiondrums{
    margin-top: -30%;
    margin-left: 5%;    
}


button.MidTom
{
    
    margin-top: -15px;
    text-align: center;
    width:80px;
    height: 80px;
    margin-right: -70px;
    margin-left: 20px;
}


button.BassDrum
{
    
    margin-top: 280px;
    margin-left: -20px;
    text-align: center;
    width:180px;
    height: 198px;
    border-radius: 50%;
    color:white;
    

}


button.HighTom
{
    
    margin-top: -30px;
    margin-left: -85px;
    text-align: center;
    width:75px;
    height: 65px;
    
}


button.SnareDrum
{
    
    margin-top: 40px;
    margin-left: -65px;
    width:70px;
    height: 70px;
    width:110px;
    height: 45px;
    
}


/*button.CrashCymbal
{
    
    margin-top: -400px;
    margin-left: -68px;
    text-align: center;
    width:150px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(-5deg);

}

button.HiHat
{
    
    margin-top: -190px;
    margin-left: -60px;
    text-align: center;
    width:100px;
    height: 30px;
    border-radius: 50%;
    transform: rotate(-8deg);
}*/




/* .imagebutton { 
	display: inline-block;
	width: auto;
	height: auto;
	background: transparent url("../imagenes/platos1.png") no-repeat 0 0;
	

}

.imagebutton:hover {
	background-position: auto;
}
*/



#bateria
{
    vertical-align: middle;
    margin-top: 300px;
    position: absolute;
    z-index: -900;
    margin-left:-240px;
    width: 750px;
    height: 500px;
    width: 40%;
    height: 50%;
	
}



.img
{
    vertical-align: middle;
    position: absolute;
    width: 130px;
    margin-top: 270px;
    left: 510px;
    z-index: 800;
   
}


.img1
{
    vertical-align: middle;
    position: absolute;
    width: 155px;
    margin-top: 270px;
    left: 800px;
    z-index: 900;
   
}


.img2 
{
    vertical-align: middle;
    position: absolute;
    width: 155px;
    margin-top: 320px;
    left: 870px;
    z-index: 900;
   
}


#fondo 
{
    vertical-align: middle;
    position: absolute;
    height:100%;
    width: 100%;
    top: 0px;
    left:0px;
    z-index: -1000;
}


#p1
{
    font-family: cursive;
    vertical-align: middle;
    position: absolute;
    z-index: 1000;
    color: black;
    height: 10px;
    margin-top: -878px;
    left: 37%;
    font-weight: bold;
    margin-left: 30px;
}
#p2
{
    font-family: cursive;
    vertical-align: middle;
    position: absolute;
    z-index: 1000;
    color: black;
    height: 10px;
    margin-top: -860px;
    left: 60.4%;
    font-weight: bold;
}
#p3
{
    font-family: cursive;
    vertical-align: middle;
    position: absolute;
    z-index: 1000;
    color: black;
    height: 10px;
    margin-top: -805px;
    left: 66%;
    font-weight: bold;
}



